<% layout("layouts/boilerplate") %>

<script>
  const mapToken = "<%= mapToken %>";
  const listing = <%- JSON.stringify(listing) %>;
</script>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3><%= listing.title %></h3>
  </div>

  <div class="card col-8 offset-2 mb-3 listing-card">
    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="Listing Image"
      style="max-height: 800px; object-fit: cover;">
    <p class="card-text"><b>@<%= listing.owner.username %></b></p>
    <p class="card-text"><%= listing.description %></p>
    <p class="card-text"><strong>Price:</strong> ₹<%= listing.price ? listing.price.toLocaleString("en-IN") : 'N/A' %></p>
    <p class="card-text"><strong>Location:</strong> <%= listing.location %></p>
    <p class="card-text"><strong>Country:</strong> <%= listing.country %></p>
  </div>

  <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
    <div class="col-8 offset-2">
      <a href="/listings/<%= listing._id %>/edit" class="btn edit-btn2">Edit this Listing</a>
      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" class="d-inline-block">
        <button class="btn delete-btn">Delete this Listing</button>
      </form>
    </div>
  <% } %>

  <div class="col-8 offset-2 mt-4">
    <h3>Where you'll be</h3>
    <div id="map" style="height: 200px;"></div>
  </div>
</div>

<!-- Mapbox JS & CSS -->
<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>

<script src="/JS/map.js"></script>
